In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('filingsEnd2019.csv')
#df['issuer'] = df['cusip'].apply(lambda x: x[:6])

totalValue = df.groupby('owner')['value'].sum()

df = df.merge(totalValue, how='left', left_on='owner', right_index=True)
df.head()

,Unnamed: 0,cusip,value_x,amount,put_or_call,owner,cik,report_date,value_y
0,0,88579Y101,1487.0,8430.0,No,"Wellington Shields Capital Management, LLC",1506071,2019-12-31,650736.0
1,1,000375204,1959.0,81300.0,No,"Wellington Shields Capital Management, LLC",1506071,2019-12-31,650736.0
2,2,002824100,2451.0,28218.0,No,"Wellington Shields Capital Management, LLC",1506071,2019-12-31,650736.0
3,3,00287Y109,2163.0,24435.0,No,"Wellington Shields Capital Management, LLC",1506071,2019-12-31,650736.0
4,4,G1151C101,4646.0,22062.0,No,"Wellington Shields Capital Management, LLC",1506071,2019-12-31,650736.0

In [3]:
mask = df['value_x'] == 0
df = df[~mask]

In [4]:
df['sh_price'] = df['value_x'] / df['amount'] * 1000

In [6]:
df[df['cusip'] == '037833100']['sh_price'].sort_values()

205593        29.439490
180152       157.746895
195538       197.975965
306373       221.782178
308757       223.932512
              ...
45138     293650.000645
50936     293650.001200
50931     293650.001473
50930     293650.020075
288794    324869.968764
Name: sh_price, Length: 645, dtype: float64

In [ ]:
grouped

In [ ]:
investment = df.groupby(['cik']).agg({'value_y':'mean'})

In [ ]:
mask = investment['value_y'] == 0
investment = investment[~mask].sort_values(by='value_y')
investment

In [ ]:
investment[20:50]